body {
    background-color: #000000;
}

.title-highlight {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    transition-duration: 0.2s;
    border-radius: 5px;
}

.title-highlight:hover {
    background-color: #2541B2;
    color: #ffffff;
}

#fileList {
    margin: 20px;
}

a {
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    margin: 10 px;
    font-size: 15px;
    display: block;
    text-decoration: none;
}

a::before {
    content: "> "
}

a:hover {
    color: #2541B2;
}