body {
    background-color: #000000;
}

.title-highlight {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    position: relative;
    margin: auto;
    width: 250px;
    text-align: center;
    display: block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition-duration: 0.2s;
    border-radius: px;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}

.title-highlight:hover {
    background-color: #2541B2;
    color: #ffffff;
}

#signature {
    color: #000000;;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: italic;
    right: 15px;
    bottom: 15px;
    position: absolute;
    margin: 20px;
    background-color: #CC6E0F;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#fileList {
    margin: 20px;
}

a {
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    margin: 10 px;
    font-size: 15px;
    display: block;
    text-decoration: none;
}

a::before {
    content: "> "
}

a:hover {
    color: #2541B2;
}